.layout-cabecalho {
    background-color: #f4743b;
    color: white;
    padding: 10px;
}

.container {
    margin: -30px;
}
.layout-cabecalho--position{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4743b;
}
.animacao {
    position: absolute;
    top: 70%;
    right: -15vw;
    cursor: pointer;
    animation: pular 6s ease-in-out infinite;
}

@keyframes pular {
    0%   { transform: translateX(0); }
    25%  { transform: translateX(-10vw); }
    50%  { transform: translateX(-10vw); }
    75%  { transform: translateX(-7vw); }
    100% { transform: translateX(0); }
}

section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f4743b;
    color: white;
}
.layout-rodape{
   display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
     padding: 18px;
     align-items: center;
     justify-content: center;

  background-color:#f4743b;
  font-size: 1em;
  text-align: center;

}
.layout-rodape > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;


}
.pagina-contatos {
    padding-top: 150px;
    padding-bottom: 80px;
   
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.secao-formulario {
    max-width: 600px;
}

@media (max-width: 600px) {

    section {
        width: 95%;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    input, textarea {
        width: 95%;
    }
}