/* Estilização do Cabeçalho  */
.cabecalho-principal {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-bottom: 5px solid black; /* Mantendo o padrão de bordas do seu projeto */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: sticky; /* Faz o menu ficar parado no topo ao rolar */
    top: 0;
    z-index: 1000;
}

.logo a {
    font-size: 32px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    letter-spacing: -1px;
}

.menu-navegacao ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-navegacao a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

/* Efeito Hover no Menu */
.menu-navegacao a:hover, 
.menu-navegacao a.ativo {
    background-color: #BEEE62; 
    border: 2px solid black;
}